
#panel {
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

#textoDelPanel {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 3px;
}

#ContadorPalabra{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background: white;
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-padding: 15px;
        -fx-border-radius: 10px;
        -fx-background-radius: 10px
}
#contadorClientesSatisfechos{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-padding: 0;
        -fx-border-radius: 10px;
        -fx-background-radius: 10px
}
#btnIniciar {
    -fx-background-color: #06AB2A;
    -fx-text-fill: white;

    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-pref-height: 40;
    -fx-max-width: 200px;
    -fx-max-height: 40;

    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
#btnIniciar:hover {
    -fx-background-color: #05A022;
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
#btnSalir {
    -fx-background-color: #FF5664;
    -fx-text-fill: white;

    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-pref-width: 150px;
    -fx-pref-height: 40;
    -fx-max-width: 150px;
    -fx-max-height: 40;

    -fx-border-radius: 5px;
    -fx-background-radius: 5px
}
#btnSalir:hover {
    -fx-background-color: #E04A57;
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}